<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home Page</title>

</head>

<body>

<div th:fragment="card">

    <h4>Site details</h4>
    <p>This site was made using Spring boot. I have made use of project lombok,thymeleaf,jpa. </p>
    <p>All the code for this site is available on <a href="https://github.com/marcusblackhall/graphs">Source
        code</a></p>


    <h4 id="about">About me</h4>
    <p>I am a Java programmer, specializing in Spring boot projects. I work for Splendiddata whose expertise
        lies in converting
        an Oracle stack to Postgres.
    </p>


</div>

</body>
</html>