<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="description" content="Coding LCPS Corona">
    <meta name="author" content="Marcus Blackhall">
    <meta name="theme-color" content="#593196">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Love coding</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/datatables.min.css}" rel="stylesheet"/>


</head>
<body>
<script src="js/jquery.min.js" ></script>
<script src="js/jquery-ui.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>

<div class="container">
    <div class="row" th:insert="fragments/header :: header">

    </div>
    

    <div class="row" th:replace="@{${left}} :: ${left}"></div>

    <!--        <div class="column" th:replace="@{${right}} :: ${right}"></div>-->

    <div th:insert="fragments/footer :: footer"></div>
</div>

</body>
</html>