<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prototyping site</title>

    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row" th:insert="fragments/header :: header">

    </div>
    

    <div class="row" th:replace="@{${left}} :: ${left}"></div>

    <!--        <div class="column" th:replace="@{${right}} :: ${right}"></div>-->

    <div th:insert="fragments/footer :: footer"></div>
</div>


</body>
</html>