
<div th:fragment="lcpstable">
    <div class="card">

        <h5 class="card-header  bg-secondary">LCPS Datatable</h5>
        <div class="card-body">
            <table id="lcpsTableId" class="table table-secondary table-sm table-striped" style="width:100%">
                <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>IC Beds Nl</th>
                    <th>IC Beds Int</th>
                    <th>Clinic Beds</th>
                    <th>IC Beds New</th>
                    <th>Clinic Beds New</th>
                </tr>
                </thead>
                <tbody/>

                <tfoot/>
            </table>
        </div>

    </div>
    <script src="js/datatables.min.js"></script>
    <script src="js/lcpstable.js"></script>
</div>

