<div th:fragment="lcps">
    <div class="card">

        <h5 class="card-header  bg-secondary">LCPS Covid data</h5>

        <div style="min-height:500px" class="card-body">

            <canvas id="lcpsChartId" class="w-100"></canvas>
        </div>
        <div class="card-footer bg-secondary">
            <div class="row">
                <div class="col-sm">
                    <label class="label label-default" for="startDatePicker">From date</label>
                </div>
                <div class="col-sm">
                    <input id="startDatePicker" data-provide="datepicker">
                </div>
                <div class="col-sm">
                    <label class="label label-default" for="endDatePicker">End date</label>
                </div>
                <div class="col-sm">
                    <input id="endDatePicker" data-provide="datepicker">
                </div>
                <div class="col-sm">
                    <a href="/lcpstable" class="link-primary">View data as table</a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/chart.min.js" defer></script>
    <script src="js/lcps-min.js" defer></script>

</div>