<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Covid positive cases graph</title>

</head>

<body>

<div th:fragment="lcps">
    <div class="card">

        <h5 class="card-header  bg-primary">LCPS Covid data</h5>

        <div style="min-height:500px" class="card-body">

            <canvas id="lcpsChartId" class="w-100"></canvas>
        </div>
        <div class="card-footer bg-primary">
            <div class="row">
                <div class="col-sm">
                    <label class="label label-default" for="startDatePicker">From date</label>
                </div>
                <div class="col-sm">
                    <input id="startDatePicker" data-provide="datepicker">
                </div>
                <div class="col-sm">
                    <label class="label label-default" for="endDatePicker">End date</label>
                </div>
                <div class="col-sm">
                    <input id="endDatePicker" data-provide="datepicker">
                </div>
            </div>
        </div>
    </div>
    <script src="js/chart.min.js"></script>
    <script src="js/lcps.js"></script>
</div>


</body>
</html>